[tool.poetry]
name = "smarterbombing"
version = "0.1.4"
description = "A tool which reads combat logs from Eve Online and displays statistics."
repository = "https://github.com/agelito/eve-smarterbombing"
authors = ["Axel Wettervik <axel.wettervik@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
pandas = "^2.0.2"
parse = "^1.19.0"
tabulate = "^0.9.0"
gradio = "^3.33.1"
matplotlib = "^3.7.1"

[tool.poetry.group.dev.dependencies]
python-semantic-release = "^7.34.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
version_variable = "pyproject.toml:version"
branch = "main"
changelog_file = "CHANGELOG.md"
build_command = "poetry build"
dist_path = "dist/"
upload_to_release = true
upload_to_pypi = false
remove_dist = false 
patch_without_tag = true
