[tool.pdm.scripts]
ruff = "ruff check src --fix-only"
blue = "blue src"
pytest = "pytest --cov"
bump = "bump -p pyproject.toml"

[tool.pdm.scripts.prebuild]
composite = [
    "blue",
    "ruff",
    "pytest",
]

[tool.pdm.scripts.build]
composite = [
    "prebuild",
    "pdm build",
]

[tool.pdm.scripts.dry-run]
composite = [
    "prebuild",
    "pdm build",
    "pdm publish --no-build --repository https://test.pypi.org/simple",
]

[tool.pdm.scripts.publish]
composite = [
    "prebuild",
    "pdm build",
    "pdm publish --no-build",
]

[tool.pdm.scripts.pub]
composite = [
    "bump",
    "pdm publish",
]

[tool.ruff]
ignore-init-module-imports = true
line-length = 79

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
    "--doctest-modules",
    "-s",
]
doctest_optionflags = [
    "NORMALIZE_WHITESPACE",
    "IGNORE_EXCEPTION_DETAIL",
    "ELLIPSIS",
]
testpaths = [
    "tests",
    "src",
]

[tool.coverage.paths]
source = [
    "src",
]

[tool.coverage.run]
branch = true
source = [
    "src",
]
omit = [
    "*__init__*",
]

[tool.coverage.report]
show_missing = true

[project]
name = "np_tools"
version = "0.1.19"
description = "General-purpose tools for common tasks encountered in Mindscope Neuropixels workflows."
authors = [
    { name = "bjhardcastle", email = "ben.hardcastle@alleninstitute.org" },
]
dependencies = [
    "fabric",
    "invoke<2.1",
    "np-config>=0.4.17",
    "np-logging>=0.5.1",
    "crc32c>=2.3.post0",
    "rich>=13.3.5",
    "pynwb",
]
requires-python = ">=3.7,<4"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
]

[project.license]
text = "MIT"

[project.urls]
Source = "https://github.com/AllenInstitute/np_tools"
Issues = "https://github.com/AllenInstitute/np_tools/issues"

[project.optional-dependencies]
dev = [
    "blue>=0.9.1",
    "pytest>=7.2.2",
    "mypy>=1.1.1",
    "coverage[toml]>=7.2.2",
    "pdm>=2.4.9",
    "pytest-cov>=4.0.0",
    "bump>=1.3.2",
    "types-backports>=0.1.3",
    "ruff>=0.0.260",
]

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
